<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Inspirify by Mike Tran &lt;frontend&gt;&lt;&#47;developer&gt;</title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div id="loading-spinner" class="loading-spinner__wrapper loading-spinner__loading">
        <div class="loading-spinner"></div>
    </div>
    <div class="container">
        <div class="row">
            <header class="col-xs-12">
                <div class="logo-container">
                    <h1 class="logo">Inspirify</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="#inspire-me" class="nav-scroll-to">Insprire Me</a></li>
                        <li><a href="#about" class="nav-scroll-to">About</a></li>
                        <li><a href="https://classicmike.github.io/portfolio" target="_blank">Need Services?</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <section id="inspire-me" class="afeature afeature__search text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="afeature__content vertical-align vertical-align__middle">
                        <div class="vertical-align__middle__alignment-block">
                            <hgroup class="afeature__header">
                                <h2>Sick of listening to the same favourite artists everyday?</h2>
                                <h3 class="h2">Surprise Yourself and start searching!</h3>
                            </hgroup>
                            <form id="artist-search" method="get" class="afeature__search">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 center-block overrides__no-float">
                                        <div class="form-group">
                                            <input placeholder="Who's your favourite artist?" type="text" class="form-control afeature__search__input" name="artist-search" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 afeature__actions">
                                        <button type="submit" class="btn btn-primary afeature__search__submit">
                                            <span class="glyphicon glyphicon-menu-down"></span> Inspire Me
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="results" class="section backgrounds__solid-color__light-grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" id="results-content">
                </div>
            </div>
        </div>
    </section>

    <article id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section__header text-center">
                    <h2 class="typography__text__dark-green h1">About the This App</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 section__content">
                    <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim ipsum,
                        aliquet sed consectetur tincidunt, lobortis eget quam. </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim ipsum, aliquet sed consectetur
                        tincidunt, lobortis eget quam. Mauris quam orci, accumsan vitae ipsum maximus, accumsan viverra
                        tortor. Sed non mauris metus. Pellentesque ullamcorper sapien orci, ut ullamcorper justo
                        convallis eget. Sed viverra quam at sapien facilisis, facilisis cursus felis bibendum. Proin
                        blandit odio egestas sapien aliquam, sit amet dictum lorem eleifend. Etiam id ullamcorper augue,
                        ac varius ante. Fusce quis tristique felis, ut interdum orci. Curabitur malesuada dui non nisi
                        sollicitudin ornare. Cras tortor tellus, facilisis et nibh et, dapibus facilisis elit.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim ipsum, aliquet sed consectetur
                        tincidunt, lobortis eget quam. Mauris quam orci, accumsan vitae ipsum maximus, accumsan viverra
                        tortor. Sed non mauris metus. Pellentesque ullamcorper sapien orci, ut ullamcorper justo
                        convallis eget. Sed viverra quam at sapien facilisis, facilisis cursus felis bibendum. Proin
                        blandit odio egestas sapien aliquam, sit amet dictum lorem eleifend. Etiam id ullamcorper augue,
                        ac varius ante. Fusce quis tristique felis, ut interdum orci. Curabitur malesuada dui non nisi
                        sollicitudin ornare. Cras tortor tellus, facilisis et nibh et, dapibus facilisis elit.</p>
                </div>
            </div>
        </div>
    </article>



    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="copyright">&copy; 2015 Mike Tran <span class="typography-highlight">&lt;frontend&gt;&lt;&#47;developer&gt;</span></p>
                    <p>All artists and songs have been obtained through the Spotify API, which has made available by Spotify. I will not be held responsible for any copyright issues that arise from displaying it on the site.
                        If you have any issues with the songs, please contact Spotify.</p>
                </div>
            </div>
        </div>
    </footer>


    <script id="search-items-list" type="text/ejs">
        <ul class="search-results__items">

        </ul>
    </script>

    <script id="search-result-item" type="text/ejs">
        <li class="search-results__item" data-artist-id="<%= artist.id %>" role="button">
            <figure class="well search-results__item__box">
                <div class="search-results__item__image-wrapper">
                    <img src="<%= artist.imageUrl %>" alt="Click to find out more about <%= artist.name %>" class="img-responsive search-results__item__image" />
                </div>
                <figcaption class="search-results__item__title">
                    <%= artist.name %>
                </figcaption>
            </figure>
        </li>
    </script>

    <script id="loading-text" type="text/ejs">
        <p class="lead">Getting your inspirations for you....</p>
    </script>

    <script id="default-text" type="text/ejs">
        <p class="lead">Hold Your Horses! Use the Search Bar above to get an inspired artist here</p>
    </script>

    <script id="no-results-text" type="text/ejs">
        <p class="lead">Sorry could not find any inspirations for your favourite artist. :( Please check your search terms and/or try again.</p>
    </script>

    <script id="related-artist-modal" type="text/ejs">
        <div id="modal-<%= artist.id %>"class="modal fade related-artist-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title h2 overrides__no-spacing"><%= artist.name %></h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <h4 class="h3">Biography</h4>
                                <% if(artist.biography) { %>
                                    <p><%= artist.biography.text %> (<strong>Source: <%= artist.biography.source %></strong>) <a href="<%= artist.biography.url %>" target="_blank"><em>Click here to read more.</em></a></p>
                                <% } else { %>
                                    <p>No biography has been found</p>
                                <% } %>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <img src="<%= artist.imageUrl %>" alt="<%= artist.name %>" class="img-responsive" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 columns">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 columns">
                                <h4 class="h3">Top Songs</h4>
                                <table class="table-striped table-hover playlist">
                                    <thead>
                                        <th class="playlist__cell">Name</th>
                                        <th class="playlist__cell">Duration</th>
                                        <th class="playlist__cell">Song Sample</th>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < artist.songs.length; i++) { %>
                                            <tr>
                                                <td class="playlist__cell"><%= artist.songs[i].name %></td>
                                                <td class="playlist__cell"><%= artist.songs[i].duration %></td>
                                                <td class="playlist__cell playlist__cell__play" data-song-id="<%= artist.songs[i].id %>" aria-role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>

    <script type="text/ejs" id="loading-spinner-template">
        <div id="loading-spinner" class="loading-spinner__wrapper loading-spinner__loading">
            <div class="loading-spinner"></div>
        </div>
    </script>

    <script id="loading-song" type="text/ejs">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Loading Song...
    </script>

    <script id="play-song" type="text/ejs">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/ejs.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/EventEmitter/4.2.11/EventEmitter.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Main Javascript File -->
    <script src="js/app.js"></script>


</body>
</html>